* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --primary: #675bc8;
  --black: #0c0c0c;
  --white: #fff;
  --secondary: #0a453a;
  --primary-950: #19143d;
  --primary-900: #2e256f;
  --primary-800: #41349d;
  --primary-700: #4f40bf;
  --primary-600: #5d4fc4;
  --primary-400: #9990da;
  --primary-300: #b9b3e5;
  --primary-200: #d5d1f0;
  --primary-100: #eae8f7;
  --primary-50: #f4f4fb;
  --neutral-gray-9202020: #202020;
  --neutral-gray-8404040: #404040;
  --neutral-gray-7606060: #606060;
  --neutral-gray-6868686: #868686;
  --neutral-gray-5cbcbcb: #cbcbcb;
  --neutral-gray-4dfdfdf: #dfdfdf;
  --neutral-gray-3ededed: #ededed;
  --neutral-gray-2f0f0f0: #f0f0f0;
  --neutral-gray-1f7f7f7: #f7f7f7;
  --neutral-gray-0f9f9f9: #f9f9f9;
  --state-color-error: #c30000;
  --state-color-error-light1: #ed2e2e;
  --state-color-error-light2: #fff2f2;
  --state-color-warning: #a9791c;
  --state-color-warning-light1: #f4b740;
  --state-color-warning-light2: #fff8e1;
  --state-color-success: #00966d;
  --state-color-success-light1: #00ba88;
  --state-color-success-light2: #f3fdfa;
  --secondary-950: #010908;
  --secondary-900: #020d0b;
  --secondary-800: #041b17;
  --secondary-700: #062822;
  --secondary-600: #08352d;
  --secondary-400: #158f78;
  --secondary-300: #20dab8;
  --secondary-200: #68e9d1;
  --secondary-100: #b3f4e8;
  --secondary-50: #dbfaf4;
}
